* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 120%;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #d5e1ef;
  display: grid;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 50;
  line-height: 1;
}

main {
  margin: 4rem 2rem;
  padding: 1.5rem;
  place-self: center;
  background-color: #fff;
  border-radius: 1rem;
  display: grid;
  gap: 0.5rem;
  text-align: center;
  box-shadow: 2px 2px 10px #dedede;
}

h1 {
  color: #10253a;
  font-weight: 550;

  font-size: 1.4rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

.qr-code img {
  width: 100%;
  border-radius: 0.5rem;

  aspect-ratio: 1/1;
}

.content {
  padding: 1.2rem;
  display: grid;
  gap: 1rem;
}

.content p {
  opacity: 0.6;
}

.attribution {
  opacity: 0.4;
}

@media (min-width: 600px) {
  main {
    margin: 4rem 38%;
  }
}
